/src/W10 - 1-JSP/W10 - 1-JSP/nbproject/private/
/src/W10 - 1-JSP/W10 - 1-JSP/build/
/src/W10 - 1-JSP/W10 - 1-JSP/dist/
/src/W10 - 2-AuthorsJSP/nbproject/private/
/src/FoodWasteReductionPlatform/nbproject/private/
/src/W10 - 2-AuthorsJSP/W10 - 2-AuthorsJSP/nbproject/private/
/src/W10 - 2-AuthorsJSP/W10 - 2-AuthorsJSP/build/
